{% extends 'cursos/cursos_admin.html' %}
{% block content %}
   <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Cursos</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

      <div class="w3-row" style="width: 50%">
          <p><h3>Nombre del curso</h3></p>
          <ul class="w3-ul w3-padding h3-half w3-light-gray">
            <li class="column">Docentes</li>
          <li class="column">Código</li>
          <li class="column">Sección</li>
          <li class="column">Semestre</li>
         <li class="column">Año</li>
          </ul>
      </div>
        <div id="evaluadores" class="w3-container w3-half">
      <p><h3>Evaluadores</h3></p>
            <ul class="w3-ul w3-hoverable w3-border">
  <li>Jill</li>
  <li>Eve</li>
  <li>Adam</li>
</ul>
  </div>
  </div>
{% endblock %}