<!-- Start Content for Django -->
{% extends 'base.html' %}
{% block content %}
{% load evaluador_privileges %}
    <!-- Evaluacion -->
    
    <div class="w3-container" id="designers" style="margin-top:50px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i {% if evaluacion.is_active %}class="w3-text-green"> en curso {% else %} class="w3-text-gray"> cerrada {% endif %}</i> </b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <div class="w3-container w3-center">
            <p><b>{{ grupo.nombre }}</b> {{ evaluacion.nombre }} <i>/ {{ grupo.curso }}</i></p>
            </div>

    {% if user|is_admin %}
      <div id='evaluadores' class="w3-panel  w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i> </li>
            {% for evaluador in evaluadores %}
                {% if evaluador.evaluador in yaEvaluaron %}
                <li class=" w3-padding-16 presentado"> {{evaluador.evaluador}} <i style="margin-left: 10px" class="far fa-check-circle"><i class="w3-small"> ya evaluó</i></i>
                </li>
                {% else %}
                <li class="w3-padding-16 " id="evaluador-{{evaluador.pk}}"> {{evaluador.evaluador}} <i id="borrar-evaluador-{{evaluador.pk}}" style="margin-left: 10px" class=" zoom w3-large fas fa-times"></i>
                </li>
                {% endif %}
            {% endfor %}
            {% if evaluacion.is_active %}
            <li id="masEvaluadores" class="opcion w3-padding-16"> Agregar otro <i style="margin-left: 10px" class="fas fa-user-plus"></i>
            </li>
            {% endif %}
         </ul>
        </div>

        <div class="w3-row-padding" style="margin-top:30px">
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i class="fas fa-user-friends"></i></li>
            {% for alumno in alumnos %}
                {% if alumno in yaPresentaron %}
                    <li class="presentado w3-padding-16" id="alumno-{{alumno.pk}}">{{alumno}} <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
                {% else %}
                    <li class="w3-padding-16" id="alumno-{{alumno.pk}}">{{alumno}}</li>
                {% endif %}
            {% endfor %}
            
          </ul>
        </div>

        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>
            <div id="presentador" class="">
            {% if presentador %}
            <li class="w3-padding-16 selected">{{presentador}} </li>
            {% endif %}
            </div>
            <li class=" opcion w3-padding-16" id="masPresentadores"> Seleccionar presentador <i style="margin-left: 10px"  class="fas fa-user-plus"></i></li>
            
          </ul>
        </div>
        </div>

        <div id="agregarPresentador" class="w3-modal w3-center ">
        <div class="w3-margin-bottom w3-modal-content w3-animate-zoom w3-round-large" style="width:50%">
        <div class="w3-container">
          <ul class="w3-ul w3-light-gray w3-center w3-card-4 w3-margin-top w3-margin-bottom">
            <li class="w3-dark-gray w3-xlarge w3-padding-32">Seleccione un presentador <i class="fas fa-user-friends"></i></li>
            {% for alumno in alumnos %}
                {% if alumno in yaPresentaron %}
                {% else %}
                    
                    <li class="w3-padding-16 opcion" id="presentador-{{alumno.pk}}">{{alumno}}</li>
                {% endif %}
            {% endfor %}
            {% if presentador %}
                    <li class="w3-padding-16 opcion" id="presentador-{{presentador.pk}}">{{presentador}}</li>
            {% endif %}
            
          </ul>
          </div>
        </div>
        </div>
        
      
      {% endif %}
        
        <div class="w3-container">
        <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p>
        </div>
        <div id='paneles'>
        
        </div>

        {% if user|is_admin %}
            <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final 
                <input id='hora' class="w3-input w3-border w3-round" type="number" {% if minutos %} value="{{minutos}}" {% endif %} size="1" placeholder="15" style="width:15%; display:inline; margin-left: 10px"> : <input {% if segundos %} value="{{segundos}}" {% endif %} id='minutos' class="w3-input w3-border w3-round" style="width:15%; display:inline" type="number" placeholder="35"></span>
            </div>
        {% endif %}
        <div class="w3-panel w3-right w3-half">
            <div class="w3-container w3-text-red w3-margin-bottom" id="check"> </div>
            <form id='formSend' action="{% url  'evaluaciones:send_evaluacion' %}" method="post"  >
                <!-- 'idEvaluacion':idEvaluacion, 'idGrupo':idGrupo,
                     'presentador':presentador, 'respuestas': seleccion, 'hora':hora,'minutos':minutos-->
                {% csrf_token %}
                <input type='hidden' id='send-idEvaluacion' name='idEvaluacion'>
                <input type='hidden' id='send-idGrupo' name='idGrupo'>
                <input type='hidden' id='send-presentador' name='presentador'>
                <input type='hidden' id='send-respuestas' name='respuestas'>
                <input type='hidden' id='send-hora' name='hora'>
                <input type='hidden' id='send-minutos' name='minutos'>
                <input type='hidden' id='send-maximos' name='maximos'>
                <button class="w3-button w3-xlarge w3-red" 
                   type='button' onclick='sendEvaluacion()'><i class="fas fa-envelope-open-text"></i> Entregar
                    evaluación
                </button>
            </form>
            
        </div>
        

    </div>

    <script>
    var idEvaluacion='{{evaluacion.pk}}';
    var idGrupo='{{grupo.pk}}';
    var detalleRubrica=JSON.parse('{{detalleRubrica | escapejs}}');
    var respuestasAnteriores=JSON.parse('{{respuestas | escapejs}}');
    var seleccion=new Array(detalleRubrica.length);
    var equipo=[];
    var maximos=[];
    var is_admin='{{user|is_admin}}'=='True';
    var presentador;
    let miembro={};
    {% if presentador %}
        presentador='{{presentador.pk}}';
        $('#presentador-'+presentador).addClass('selected');
        miembro={};
        miembro['id']='{{presentador.pk}}';
        miembro['nombre']='{{presentador}}';
        equipo.push(miembro);
        console.log('uwu');
    {% endif %}
    
    {% for alumno in alumnos %}
        {% if alumno in yaPresentaron%}
        {% else %}
            miembro={};
            miembro['id']='{{alumno.pk}}';
            miembro['nombre']='{{alumno}}';
            equipo.push(miembro);
        {% endif %}
        
    {% endfor %}
        
    $(document).ready(()=>{

        $('#masPresentadores').click(()=>$('#agregarPresentador').show())
        
        for(let i=0; i<equipo.length; i++){
            $('#presentador-'+equipo[i]['id']).click(()=>{
                $('#presentador').html('');
                presentador=equipo[i]['id'];
                for(let j=0; j<equipo.length; j++){
                    if($('#presentador-'+equipo[j]['id']).hasClass('selected')){
                        $('#presentador-'+equipo[j]['id']).removeClass('selected');
                    }
                }
                if(!$('#presentador-'+equipo[i]['id']).hasClass('selected')){
                    $('#presentador-'+equipo[i]['id']).addClass('selected');
                }
                $('#presentador').html('<li class="w3-padding-16 selected w3-animate-right">'+equipo[i]['nombre']+'</li>');
                $('#agregarPresentador').hide();
            })
        }


        //SETEAR OPCIONES 
        let html="";
        
        for(let i=0;i<detalleRubrica.length;i++){
            html+='<div class="w3-panel w3-margin-bottom"><ul class="w3-ul w3-light-grey w3-center w3-card-4">'
            html+='<li id="'+i+'-nombreFila" class="w3-red w3-xlarge w3-padding-32">'+detalleRubrica[i][0]['nombreFila']+' <i style="display:none" class="w3-animate-zoom fas fa-exclamation-circle" id="'+i+'-iconWarning" ></i> <i style="display:none" class="w3-animate-zoom fas fa-check-circle" id="'+i+'-iconCheck" ></i></li>'
            for(let j=0;j<detalleRubrica[i].length;j++){
                html+='<li id="'+i+'__'+j+'-opcion" class="opcion w3-padding-16">'+detalleRubrica[i][j]['descripcion']+'</li>'
                if(j==detalleRubrica[i].length-1){
                    html+='</ul></div>'
                    maximos.push({'fila':i,'maximo':detalleRubrica[i][j]['puntaje']});

                }
            }
            
        }
        $('#paneles').html(html);
        for(let i=0;i<detalleRubrica.length;i++){
            for(let j=0;j<detalleRubrica[i].length;j++){
                $('#'+i+'__'+j+'-opcion').click(seleccionarOpcion);
            }
        }

        for(let i=0; i<respuestasAnteriores.length;i++){
            seleccionarInicial(respuestasAnteriores[i]['fila'],respuestasAnteriores[i]['columna']);
        }

        
        
    }) 

    function seleccionarInicial(fila,columna){
        

        
        for(let j=0;j<detalleRubrica[fila].length;j++){
            if(j==columna){
                
                $('#'+fila+'__'+columna+'-opcion').addClass('selected');
                
            }
            else{
                if($('#'+fila+'__'+j+'-opcion').hasClass('selected')){
                    $('#'+fila+'__'+j+'-opcion').removeClass('selected');
                }            
            }
        }
        if($('#'+fila+'-iconWarning').css('display') != 'none'){
            $('#'+fila+'-iconWarning').hide();
            $('#'+fila+'-nombreFila').removeClass('w3-orange');
            $('#'+fila+'-nombreFila').addClass('w3-red');
        }
        seleccion[fila]=detalleRubrica[fila][columna];
        $('#'+fila+'-iconCheck').show();

    }  

    function seleccionarOpcion(){
        let id=$(this).attr('id');
        let filacolumna_opcion=id.split('-')[0];
        let filacolumna=filacolumna_opcion.split('__');
        let fila=filacolumna[0];
        let columna=filacolumna[1];

        
        for(let j=0;j<detalleRubrica[fila].length;j++){
            if(j==columna){
                if(!$(this).hasClass('selected')){
                    $(this).addClass('selected');
                }
            }
            else{
                if($('#'+fila+'__'+j+'-opcion').hasClass('selected')){
                    $('#'+fila+'__'+j+'-opcion').removeClass('selected');
                }            
            }
        }
        if($('#'+fila+'-iconWarning').css('display') != 'none'){
            $('#'+fila+'-iconWarning').hide();
            $('#'+fila+'-nombreFila').removeClass('w3-orange');
            $('#'+fila+'-nombreFila').addClass('w3-red');
        }
        seleccion[fila]=detalleRubrica[fila][columna];
        $('#'+fila+'-iconCheck').show();

    }

    function checkBeforeSend(){
        let allPresent=true;
        for(let i=0; i<detalleRubrica.length; i++){
            if (seleccion[i]==null){
                allPresent=false;
                $('#'+i+'-iconWarning').show();
                if($('#'+i+'-nombreFila').hasClass('w3-red')){
                    $('#'+i+'-nombreFila').removeClass('w3-red');
                }
                if(!$('#'+i+'-nombreFila').hasClass('w3-orange')){
                    $('#'+i+'-nombreFila').addClass('w3-orange');
                }
            }
        }
        if(is_admin){
        allPresent=allPresent && $('#hora').val()!="" && $('#minuto').val()!="" && presentador!=null && presentador!="";
        }

        if(!allPresent){
        $('#check').html('Complete la rúbrica antes de enviar su evaluación!');}
        else{
            $('#check').html('');
        }
        
        return allPresent;
    }     
            
    //actualizar Rubricas
// Sending in JSON format using POST method
//
function sendEvaluacion(){
    if(!checkBeforeSend()){
        return;
    }
    
    
    
    let hora=0;
    let minutos=0;
    if(is_admin){
    hora=parseInt($('#hora').val());
    minutos=parseInt($('#minutos').val());
    }
    
    //data={'idEvaluacion':idEvaluacion, 'idGrupo':idGrupo, 'presentador':presentador, 
    //'respuestas': seleccion, 'hora':hora,'minutos':minutos};
    $('#send-idEvaluacion').val(idEvaluacion);
    $('#send-idGrupo').val(idGrupo);
    $('#send-presentador').val(presentador);
    $('#send-respuestas').val(JSON.stringify(seleccion));
    $('#send-hora').val(hora);
    $('#send-minutos').val(minutos);
    $('#send-maximos').val(JSON.stringify(maximos));
    $('#formSend').submit();
    
    
    
    
    
    

}
            
            
            
        </script>





{% endblock %}
<!-- End page content -->




