{% extends 'base.html' %}
{% load evaluador_privileges %}
{% block content %}
    {% load static %}
    <!-- Portada -->
    <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Evaluaciones</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>
        <h3>{{ evaluacion }}</h3>
    </div>


    <!-- Información sobre la evaluación -->

    <div class="w3-round w3-container w3-padding">
        <table class="w3-table w3-bordered w3-border-black w3-card-4 w3-centered">
            <tr>
                <th class="w3-red"> Nombre</th>

                <th class="w3-red"> Curso asociado</th>

                <th class="w3-red"> Estado</th>

                <th class="w3-red"> Fecha inicio</th>

                <th class="w3-red"> Fecha fin</th>

                <th class="w3-red"> Duración esperada</th>

                <th class="w3-red"></th>
                {% if user|is_admin %}
                    <th class="w3-red"></th>
                {% endif %}
            </tr>
            <tr>
                <td class="w3-light-gray" style="vertical-align:middle"> {{ evaluacion }}</td>
                <td class="w3-light-gray" style="vertical-align:middle"> {{ evaluacion.get_course }}</td>
                <td class="w3-light-gray" style="vertical-align:middle"> {{ evaluacion.get_state }} </td>
                <td class="w3-light-gray" style="vertical-align:middle"> {{ evaluacion.get_startdate }} </td>
                <td class="w3-light-gray" style="vertical-align:middle"> {{ evaluacion.get_enddate }} </td>
                <td class="w3-light-gray" style="vertical-align:middle"> {{ evaluacion.get_rank }} </td>
                {% if user|is_admin %}
                    <td class="w3-light-gray w3-right-align">
                        <form action="{% url 'evaluaciones:delete_evaluacion' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ evaluacion.pk }}">
                            <button class="w3-button w3-round w3-red w3-small" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        </table>
    </div>


    <div class="w3-container w3-padding">
        <!-- Evaluadores -->
        <div class="w3-half">
            <div class="w3-card-4 w3-margin-right">
                <div class="w3-container w3-red ">
                    <h5><b>Evaluadores</b></h5>
                </div>
                <div id="Evaluadores" class="w3-container w3-light-gray w3-round">
                    <p>
                    <table class="w3-table">
                        {% for eval in evaluadores %}
                            <tr>
                                <td style="vertical-align:middle">{{ eval }}</td>
                                {% if user|is_admin %}
                                    <td>
                                        <form action="{% url 'evaluaciones:unbound_evaluador' evaluacion.pk %}"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_evaluacion" value="{{ evaluacion.pk }}">
                                            <input type="hidden" name="id_evaluador" value="{{ eval.pk }}">
                                            <button class="w3-button w3-red w3-round w3-small" type="submit">
                                                <i class="fas fa-user-minus"></i>
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if user|is_admin %}
                            <tr>
                                <td class="w3-center" colspan="2">
                                    <form action="{% url 'evaluaciones:bound_evaluador' evaluacion.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_evaluacion" value="{{ evaluacion.pk }}">
                                        {{ evaluador_form.evaluador }}
                                        <button class="w3-button w3-red w3-round w3-small" type="submit">+</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <!-- Grupos pendientes de evaluar -->
        <div class="w3-half w3-center">
            <div class="w3-card-4 w3-margin-left">
                <div class="w3-container w3-red">
                    <h5><b>Grupos pendientes</b></h5>
                </div>
                <div id="Grupos" class="w3-container w3-light-gray w3-round w3-center">
                    <table class="w3-table">
                        {% for grupo in grupos %}
                            <tr>
                                <td class="w3-center" style="vertical-align:middle">{{grupo.numero}}
                                <td class="w3-center"style="vertical-align:middle">{{ grupo.nombre }}</td>
                                    {% if evaluacion.is_active%}
                                    <td class="w3-light-gray w3-center">
                                        <a href="{% url 'evaluaciones:evaluar' grupo.get_pk evaluacion.get_pk %}" class="w3-button w3-red w3-round">
                                    <strong>Seleccionar</strong></a>
                                    </td>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Var to check if user is admin -->
    <script> var is_admin = ('True'=='{{ user|is_admin }}'); </script>

    <!--Rubrica asociada-->
    <div id="rubrica-detalle" class="w3-margin-top w3-center">
        <div class="w3-center w3-card-4">
            <div class="w3-center w3-container">
                <div class="w3-display-container">
                <div class="w3-container w3-xlarge {% if user|is_admin %} opcion {% endif %}" style="font-weight: bold" {% if user|is_admin %} contenteditable="true" {% endif %}   id='new-nombre'></div>
                <div id='new-descripcion' class="w3-container {% if user|is_admin %} opcion {% endif %}" style="font-style: italic;" {% if user|is_admin %} contenteditable="true" {% endif %} class="w3-medium "></div>
                {% if user|is_admin %}
                <i class="fas fa-edit w3-xxlarge w3-text-red w3-display-left " style="margin-left:20%"></i>
                {% else %}
                <i class="fas fa-align-center w3-xxlarge w3-text-red w3-display-left " style="margin-left:20%"></i>
                {% endif %}
                </div>

                <table id="tabla-rubrica" class="w3-card-4 w3-margin-top" style="width: 100%"  >

                </table>
                <div >


                    <div class="w3-row w3-margin-top w3-margin-bottom w3-center " >
                        {% if user|is_admin %}
                        <div  class="w3-col s6 w3-large">
                                <div id="mas-menos-filas">
                                        <i id="mas-filas" class="fas fa-plus-square w3-text-blue-gray zoom"></i>

                                        <i id="menos-filas" class="fas fa-minus-square w3-text-red zoom" style="margin-left:5px"> </i>
                                </div>

                        </div>
                        {% else %}
                        <div class="w3-col s6">
                            <p></p>
                        </div>
                        {% endif %}
                        <div class="w3-col s6 " >
                        Puntaje total :  <input style="width: 4ch" id="puntaje-total" type="text" readonly=""></input>
                        </div>
                    </div>


                </div>

                    {% if user|is_admin %}
                    <div class="w3-row w3-margin-top w3-margin-bottom">
                    <div class="w3-col s6 w3-center" >
                        <p></p>
                    </div>
                    <div class="w3-col s6 w3-center">
                        <button class="w3-round w3-button  w3-red" style="width:100%" onclick="sendAspectosRubrica()"><i class="far fa-save"></i> Guardar cambios</button>
                    </div>
                </div>
                    {% endif %}

        </div>
      </div>
    <script src="{% static 'js/rubrica.js' %}"></script>

<script>
traerRubrica('{{ rubrica }}', '{{ rubrica_nombre }}', '{{ rubrica_descripcion }}')
</script>

    </div>

{% endblock %}