<!-- Start Content for Django -->
{% extends 'base.html' %}
{% block content %}



    <div class="w3-container" id="designers" style="margin-top:50px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i class="w3-text-blue">entregada</i> </b></h1>
        {% if evaluacion.is_active %}
        <i class="w3-large w3-text-green"><i class="far fa-clock"></i> Aún activa </i>
        {% else %}
        <i class="w3-large w3-text-gray"><i class="far fa-calendar-times"></i> Cerrada </i>
        {% endif %}
        
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <div class="w3-container w3-center">
            <p><b>{{grupo.nombre}}</b> {{evaluacion.nombre}} <i>{{grupo.curso}}</i></p>
            <p><i class="w3-text-blue">Su operación se ha procesado exitosamente!</i></p></div>

        <div class="w3-container">
            <h4><b>Resumen de evaluación</b></h4>

            <div id='resumen'>
            </div>

            



            <div class=" w3-right w3-half w3-center" style="margin-top: 50px">
              
                <form action="{% url 'evaluaciones:evaluar' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="idEvaluacion" value="{{ evaluacion.pk }}">
                                        <input type="hidden" name="idGrupo" value="{{ grupo.pk }}">
                                        <input type="hidden" name="idCurso" value="{{ evaluacion.curso.id }}">
                                        <button  class="w3-button w3-red w3-xlarge w3-margin-top" type="submit">
                                        {% if evaluacion.is_active %}
                                            <i class="fas fa-edit"></i> Editar Evaluación    
                                        {% else %}
                                            <i class="far fa-eye"></i> Ver Respuestas
                                        {% endif %}
                                        </button>
                                        
                                    </form>


                <button class="w3-button w3-xlarge w3-red w3-margin-top w3-margin-bottom" style=""
                        onclick="location.href='evaluaciones'"><i class="fas fa-door-open"></i> Evaluaciones
                </button>

            </div>

             


        </div>
    </div>

    <script>
        var respuestas=JSON.parse('{{respuestas | escapejs}}');

        function colorSelect(w){
            if(w<15){
                return 'w3-red';
            }
            if(w<25){
                return 'w3-orange';
            }
            if(w<60){
                return 'w3-yellow';
            }
            if(w<80){
                return 'w3-green';
            }
            return 'w3-blue';
        }
        $(document).ready(()=>{
            let html="";
            /*Example 
            <p>Entusiasmo</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" style="width:25%">25%</div>
            </div> */
            for (let i=0; i<respuestas.length;i++){
                let realwidth=Math.round((respuestas[i]['puntaje']*100)/respuestas[i]['maximo']);
                let width=realwidth;
                if(realwidth<10){
                    //width minimo es 10
                    width=10;
                }
                let color = colorSelect(realwidth);
                html+='<div class="w3-container w3-display-container w3-margin-top">'+respuestas[i]['nombreFila']+'';
                html+='<i class="w3-small w3-text-grey w3-display-middle">'+respuestas[i]['descripcion']+'</i></div>';
                html+='<div class="w3-grey w3-margin-bottom"> <div class="w3-container w3-center w3-padding '+color+
                    '" style="width:'+width+'%">'+realwidth+'%</div></div>';
            }
            $('#resumen').html(html);

        });
    </script>

{% endblock %}