<!--Rubricas-->
{% extends 'base.html' %}
{% load evaluador_privileges %}

{% block content %}
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Rúbricas</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class='{{ message.tags }}' {% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
  </div>

{% if user.is_authenticated %}
    <div class="w3-container">
    <input id='buscar'  type='text' placeholder="Busque alguna rúbrica">
    </div>
    <!-- Listado de rubricas-->
    <div class="w3-margin-top w3-container w3-center">
        <table class="w3-table w3-card-4 w3-bordered w3-border-black">
            <thead>
                <tr>
                    <th class="w3-center w3-red"> ID </th>
                    <th class="w3-red"> Nombre </th>
                    <th class="w3-red"> Descripción </th>
                    <th class="w3-red"></th>
                </tr>
            </thead>
            <script>
                var rubricasJs= new Array();
                var rubricaJs= new Array();
            </script>
            <tbody id='rubricas'>
            {% for rubrica in rubricas_list %}
            <tr class='w3-light-gray opcion' id='{{rubrica.pk}}'>
                <td class='w3-center'>{{rubrica.pk}} </td>
                <td>{{rubrica.nombre}}</td>
                <td> {{ rubrica.descripcion }} </td>
                <td class="w3-light-gray w3-right-align">
                                <form action="{% url 'rubricas:delete_rubrica' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ rubrica.pk }}">
                                    <button class="w3-button w3-round w3-red w3-small" type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                <!-- Javascript scan for evaluadores with format {(name,lastname,email),(name,lastname,email)...}-->
                <script>
                    rubricaJs=[];
                    rubricaJs.push('{{rubrica.pk}}');
                    rubricaJs.push('{{rubrica.nombre}}');
                    rubricaJs.push('{{rubrica.descripcion}}');
                    
                    rubricasJs.push(rubricaJs);
                </script>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Fin listado de rubricas -->

    

    <!-- Formulario de rubrica -->
    
    <div id="rubrica-detalle" class="w3-modal">

        

        <div class="w3-modal-content w3-round-large w3-card-4 w3-animate-zoom  " style="width:80%">

            <div class="w3-center w3-container">
            
                <div class="w3-display-container w3-margin-top" style="height:25px">
                    <span onclick="document.getElementById('rubrica-detalle').style.display='none'"  class="w3-display-right w3-xxlarge w3-text-red opcion" title="Close Modal">
                        <i class="fa fa-window-close " aria-hidden="true"></i></span>
                </div>
                <div class="w3-display-container">
                <div class="w3-container w3-xlarge {% if user|is_admin %} opcion {% endif %}" style="font-weight: bold" {% if user|is_admin %} contenteditable="true" {% endif %}   id='new-nombre'></div>
                <div id='new-descripcion' class="w3-container {% if user|is_admin %} opcion {% endif %}" style="font-style: italic;" {% if user|is_admin %} contenteditable="true" {% endif %} class="w3-medium "></div>
                {% if user|is_admin %}
                <i class="fas fa-edit w3-xxlarge w3-text-red w3-display-left " style="margin-left:20%"></i> 
                {% else %}
                <i class="fas fa-align-center w3-xxlarge w3-text-red w3-display-left " style="margin-left:20%"></i>
                {% endif %}
                </div>

                <table id="tabla-rubrica" class="w3-card-4 w3-margin-top" style="width: 100%"  >
                    
                </table>
                <div >
                    
                    
                    <div class="w3-row w3-margin-top w3-margin-bottom w3-center " >
                        {% if user|is_admin %}
                        <div  class="w3-col s6 w3-large">
                                <div id="mas-menos-filas">
                                        <i id="mas-filas" class="fas fa-plus-square w3-text-blue-gray zoom"></i>                                

                                        <i id="menos-filas" class="fas fa-minus-square w3-text-red zoom" style="margin-left:5px"> </i> 
                                </div>
                                    
                        </div>
                        {% else %}
                        <div class="w3-col s6">
                            <p></p>
                        </div>  
                        {% endif %}
                        <div class="w3-col s6 " >
                        Puntaje total :  <input style="width: 4ch" id="puntaje-total" type="text" readonly=""></input>
                        </div>
                    </div>
                    

                </div>
                
                    {% if user|is_admin %}
                    <div class="w3-row w3-margin-top w3-margin-bottom">
                    <div class="w3-col s6 w3-center" >
                        <form action="{% url 'evaluaciones:evaluacion' %}" method="post">
                        {% csrf_token %}
                        <p><input value='1' name='idEvaluacion' type='text' id='id-evaluacion' style="display:none"></p>
                        <button type='submit'>Prueba evaluar</button>
                        </form>
                    </div>
                    <div class="w3-col s6 w3-center">
                        <button class="w3-round w3-button  w3-red" style="width:100%" onclick="sendAspectosRubrica()"><i class="far fa-save"></i> Guardar cambios</button>
                    </div>
                </div>
                    {% endif %}

        </div>
      </div>
      
    </div>

    



    {% if user|is_admin %}
   <div class="w3-margin-top w3-container w3-center">
    <button onclick="document.getElementById('agregar').style.display='block'" class="w3-col w3-round w3-button w3-red w3-right">
            <i class="fas fa-user-plus" style="text-align: center"></i>
            Agregar rúbrica</button>
    </div>
    <!-- Formulario de agregar -->
    <div id="agregar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <form class="w3-container" action="{% url 'rubricas:add_rubrica' %}" method="post">
                {% csrf_token %}
                <table class="w3-table">
                    {{ addForm.as_table }}
                </table>
            <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
            </form>
      </div>
    </div>
    </div>

    
    
    {% endif %}
{% else %}
    <div class="w3-container">
        <a href="{% url 'login' %}?next={{ request.path }}">Entra a tu cuenta.</a>
    </div>
{% endif %}


<script>
// Function para buscar rubrica 
    
function buscarRubrica(){
    let busqueda = document.getElementById('buscar').value;
    let filtered = rubricasJs.filter((x)=>{
    if(busqueda==""){
        return true;
        }

    let raw_palabras = x[0]+" "+x[1]+" "+x[2];

    let palabras = raw_palabras.split(" ");
    for(let i=0; i<palabras.length; i++){
        if(palabras[i].toLowerCase()==busqueda.toLowerCase()){
            return true;
        }
    }   
    return false;
    });
    for(i=0;i<rubricasJs.length;i++){
        document.getElementById(rubricasJs[i][0]).style.display='none';

    }
    for(i=0;i<filtered.length;i++){
        document.getElementById(filtered[i][0]).style.display='';
    }
}

//prepare document for buscar
document.getElementById('buscar').addEventListener('keydown',event=>{
    if(event.key=='Enter'){
        buscarRubrica();
    }
});

for(let i=0; i<rubricasJs.length; i++){
    $('#'+rubricasJs[i][0]).on('click',traerRubrica);
}



<!-- Script encargado de rubricas-->


//prepare document for add/remove rows
$('#mas-filas').click(()=>{añadirFila()});
$('#menos-filas').click(()=>{quitarFila()});



//funcion para traer los aspectos de la rubrica a la pagina
var idRubrica;
var detalleRubrica;
var sumaRubrica;

function traerRubrica(){

    idRubrica= $(this).attr("id");
    let nombre;
    let descripcion;
    //buscar info rubrica
    for(let i=0; i<rubricasJs.length; i++){
        if(rubricasJs[i][0]==idRubrica){
            nombre=rubricasJs[i][1];
            descripcion=rubricasJs[i][2] ;
        }
    }
    $('#new-nombre').html(nombre);
    $('#new-descripcion').html(descripcion);
    
    $.ajax({
        data : {'id' : idRubrica},
        url : 'busqueda_rubrica_ajax',
        type : 'get',
        success: (data)=>{jsonToTable(data);
                            window.location.href = '#rubrica-detalle';}
        ,
    });
    
}
//añadir un fila a la rubrica
function añadirFila(){ 
    let ultimaFila=detalleRubrica.length;
    let nuevoElemento={'fila': ultimaFila, 'columna': 0,
                       'puntaje':  "0.0", 'nombreFila': 'Aspecto '+ (ultimaFila+1),
                        'descripcion' : 'Nivel 1'};
    let nuevaFila=[nuevoElemento];
    detalleRubrica.push(nuevaFila);
    jsonToTable(detalleRubrica);
}


//quitar una fila de la rubrica
function quitarFila(){
    detalleRubrica.pop();
    jsonToTable(detalleRubrica);
}

//añadir una columna a la fila correspondiente
function añadirColumna(fila){
    columnaAnterior=detalleRubrica[fila].length-1
    elementoAnterior=detalleRubrica[fila][columnaAnterior];
    puntajeAnterior=(parseFloat(elementoAnterior['puntaje'])+1);
    puntajeNuevo=puntajeAnterior.toFixed(1);
    nuevoElemento={'fila': fila, 'columna': (columnaAnterior+1),
                       'puntaje':  puntajeNuevo, 'nombreFila': elementoAnterior['nombreFila'],
                        'descripcion' : 'Nivel '+(columnaAnterior+2)};
    detalleRubrica[fila].push(nuevoElemento);
    jsonToTable(detalleRubrica);
}

//quitar columna a la fila correspondiente
function quitarColumna(fila){
    if(detalleRubrica[fila].length <= 1){
        detalleRubrica.splice(fila,1);
    } else {
    detalleRubrica[fila].pop();
    }
    jsonToTable(detalleRubrica);
}


//traducir el json a tabla
function jsonToTable(data){
    observerPuntaje.disconnect();
    observerDescripcion.disconnect();
    observerNombreFila.disconnect();
    detalleRubrica=data;
    let html = "<tbody>";
    let mayorColumna = 0;
    actualizarPuntaje();
    for(let i=0; i<data.length ; i++){
        for(let j=0; j<data[i].length;j++){
            if(j==0){
                //comparar la maxima columna
                mayorColumna=Math.max(mayorColumna,data[i].length);
                html += '<tr class="w3-display-container"> <th id="info-'+i+'" class="w3-red tabla-elemento-rubrica w3-small {% if user|is_admin %} w3-hover-opacity  {% endif %}" style="height: 60px" {% if user|is_admin %} contenteditable="true" {% endif %} >' + data[i][j]['nombreFila']
                + '</th>';
            }
            html +='<td id="'+i+'__'+j+'" class="w3-display-container {% if user|is_admin %} w3-hover-gray  {% endif %} w3-tiny tabla-elemento-rubrica"  >'+
                    ' <div id="'+i+'__'+j+'-descripcion" {% if user|is_admin %} contenteditable="true" {% endif %}>' +data[i][j]['descripcion'] +
                        '</div><div id="'+i+'__'+j+'-puntaje" style="width: 50px" class="w3-display-topleft w3-container w3-green w3-medium" {% if user|is_admin %} contenteditable="true" {% endif %}>'
                            +data[i][j]['puntaje']+'</div>';
            
            if(j!=(data[i].length-1)){
                 html+='</td>';
            
            }else{
                {% if user|is_admin %}
                html+='<div id="prueba" style="height:50px; width: 20%;" class="w3-container w3-display-right w3-display-container">'+
                                    '<i id="mas-'+i+'" class="fas fa-plus-circle w3-text-blue-gray zoom w3-medium" style="margin-top:5px"></i>'+
                                    '<i id="menos-'+i+'" class="fas fa-minus-circle w3-text-red zoom w3-medium" style="margin-top:5px"></i>'+
                            '</div>';
                {% endif %}
                html +='</td></tr>';
           
            }

        }
        
    }
    
    let width=Math.floor(100/(mayorColumna+1));
    html +='</tbody>';
    head = '<thead> <tr> <th class="w3-red tabla-elemento-rubrica" style="width: '+width+'% ; height: 60px"> Niveles </th>' ;
    for(let i=1;i<=mayorColumna;i++){
        head += '<th style="width: '+width+'%" class="w3-red tabla-elemento-rubrica"> Nivel ' + i +'</th>';
    }
    head += '</tr></thead>'
    html = head + html;
    $('#mas-menos-filas').css('width',(width*2)+'%');
    $('#tabla-rubrica').html(html);
    $('#rubrica-detalle').show();
    for(let i=0; i<data.length;i++){
        $('#mas-'+i).click(()=>{añadirColumna(i)});
        $('#menos-'+i).click(()=>{quitarColumna(i)});
        observerNombreFila.observe(document.getElementById('info-'+i),config);
        for(let j=0; j<data[i].length;j++){
            observerDescripcion.observe(document.getElementById(i+'__'+j+'-descripcion'),config);
            observerPuntaje.observe(document.getElementById(i+"__"+j+"-puntaje"),config);
        }
    }
    
}



//observador para los elementos de la tabla


// Options for the observer (which mutations to observe)
var config = {subtree: true , characterData: true};

// Observadores
//actualizar fila info
var observarNombreFila = function(mutationsList,observer){
    for(let mutation of mutationsList){
        if(mutation.target.parentNode!=null){
            let rawData = mutation.target.data;
            let fila = mutation.target.parentNode.id.split('-')[1];
            for(let i=0;i<detalleRubrica[fila].length;i++){
                detalleRubrica[fila][i]['nombreFila']=stripHtml(rawData);
            }
        }
    }
    
}

//actualizar descripcion
var observarDescripcion = function(mutationsList,observer){
    for(let mutation of mutationsList){
        if(mutation.target.parentNode!=null){
            let rawData = mutation.target.data;
            let position = mutation.target.parentNode.id.split('__');
            let x = position[0];
            let y = position[1].split('-')[0];
            detalleRubrica[x][y]['descripcion'] = stripHtml(rawData);
            
        }
}}



var observarPuntaje = function(mutationsList, observer) {
    for(let mutation of mutationsList) {

            if(mutation.target.parentNode!=null){
                let rawData = mutation.target.data;
                let position = mutation.target.parentNode.id.split("__");
                let x = position[0];
                let y = position[1].split("-")[0];
                detalleRubrica[x][y]['puntaje'] = stripHtml(rawData);
                actualizarPuntaje();
            }
        
    }
};

// Create an observer instance linked to the callback function
var observerPuntaje = new MutationObserver(observarPuntaje);
var observerNombreFila = new MutationObserver(observarNombreFila);
var observerDescripcion = new MutationObserver(observarDescripcion);


// actualizar puntaje
function actualizarPuntaje(){
    sumaRubrica=0;
    let ultimo=0;
    for(let i=0;i<detalleRubrica.length;i++){
        ultimo = (detalleRubrica[i].length - 1);      
        sumaRubrica+=parseFloat(detalleRubrica[i][ultimo]['puntaje']);
        }
    $('#puntaje-total').val(sumaRubrica.toFixed(1));
    if(sumaRubrica<6){
        $('#puntaje-total').css('color','#e8a814');
    }
    else{
        if(Math.abs(sumaRubrica-6)< Number.EPSILON){
        $('#puntaje-total').css('color','#2fba2a');
        }   else{
        $('#puntaje-total').css('color','#d62f26');
    }
}
}

//actualizar Rubricas
// Sending in JSON format using POST method
//
function sendAspectosRubrica(){
    if(Math.abs(sumaRubrica-6)>Number.EPSILON){
        alert("La suma de los puntajes asociados a la rúbrica debe ser 6 puntos");
        return;
    }
    var xhr = new XMLHttpRequest();
    var url = "{% url 'rubricas:update_aspectos_rubrica' %}";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    //se actualizan los valores de la tabla al objeto Rubrica (los puntajes ya estan actualizados)

    let newNombre=$('#new-nombre').text();
    let newDescripcion=$('#new-descripcion').text();
    let data={'idRubrica':idRubrica, 'nombre':newNombre, 'descripcion': newDescripcion};
    
    data['aspectosRubrica']=detalleRubrica
    xhr.send(JSON.stringify(data));
}
</script>

<!-- Fin de script de rubricas-->
{% endblock %}

