<!--Rubricas-->
{% extends 'base.html' %}
{% load evaluador_privileges %}
{% block content %}
  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Rúbricas</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class='{{ message.tags }}' {% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
  </div>

{% if user.is_authenticated %}
    <div class="w3-container">
    <input id='buscar'  type='text' placeholder="Busque algún evaluador">
    </div>
    <!-- Listado de rubricas-->
    <div class="w3-margin-top w3-container w3-center">
        <table class="w3-table w3-card-4 w3-bordered w3-border-black">
            <thead>
                <tr>
                    <th class="w3-center w3-red"> ID </th>
                    <th class="w3-red"> Nombre </th>
                    <th class="w3-red"> Descripción </th>
                    <th class="w3-red"></th>
                </tr>
            </thead>
            <script>
                var rubricasJs= new Array();
                var rubricaJs= new Array();
            </script>
            <tbody id='rubricas'>
            {% for rubrica in rubricas_list %}
            <tr class='w3-light-gray opcion' id='{{rubrica.pk}}'>
                <td class='w3-center'>{{rubrica.pk}} </td>
                <td>{{rubrica.nombre}}</td>
                <td> {{ rubrica.descripcion }} </td>
                <td class="w3-light-gray w3-right-align">
                                <form action="{% url 'rubricas:delete_rubrica' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ rubrica.pk }}">
                                    <button class="w3-button w3-round w3-red w3-small" type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                <!-- Javascript scan for evaluadores with format {(name,lastname,email),(name,lastname,email)...}-->
                <script>
                    rubricaJs=[];
                    rubricaJs.push('{{rubrica.pk}}');
                    rubricaJs.push('{{rubrica.nombre}}');
                    rubricaJs.push('{{rubrica.descripcion}}');
                    
                    rubricasJs.push(rubricaJs);
                </script>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Fin listado de rubricas -->

    

    <!-- Formulario de rubrica -->
    
    <div id="rubrica-detalle" class="w3-animate-opacity" style="display:none;">

        

        <div class="w3-margin-top w3-margin-bottom w3-container w3-center "><br>
            
            <div class="w3-display-container">
                <span onclick="document.getElementById('rubrica-detalle').style.display='none'"  class="w3-display-right w3-xlarge w3-text-red opcion" title="Close Modal">
                    <i class="fa fa-window-close" aria-hidden="true"></i></span>
            </div> 
            <br>

            <table id="tabla-rubrica" class="w3-card-4" style="width: 100%"  >
              
            </table>
            <div class="w3-container">
                
                <div class="w3-container w3-display-container" style="height: 70px">
                    <span class="w3-display-right w3-container w3-round-large "> Puntaje total:  <input size="1" id="puntaje-total" type="text" readonly=""></input></span>
                </div>
                
                {% if user|is_admin %}
                <div class="w3-container"><div class="w3-display-container w3-container" style="height: 50px">
                <button style="width:30%" class="w3-round w3-button  w3-red w3-display-right" onclick="sendAspectosRubrica()">Guardar cambios</button>
                </div></div>
                {% endif %}
            </div>
        
      </div>
      
    </div>

    



    {% if user|is_admin %}
   <div class="w3-margin-top w3-container w3-center">
    <button onclick="document.getElementById('agregar').style.display='block'" class="w3-col w3-round w3-button w3-red w3-right">
            <i class="fas fa-user-plus" style="text-align: center"></i>
            Agregar rúbrica</button>
    </div>
    <!-- Formulario de agregar -->
    <div id="agregar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <form class="w3-container" action="{% url 'rubricas:add_rubrica' %}" method="post">
                {% csrf_token %}
                <table class="w3-table">
                    {{ addForm.as_table }}
                </table>
            <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
            </form>
      </div>
    </div>
    </div>

    
    
    {% endif %}
{% else %}
    <div class="w3-container">
        <a href="{% url 'login' %}?next={{ request.path }}">Entra a tu cuenta.</a>
    </div>
{% endif %}

<!-- Sección de  Funciones js para rubricas -->

<script>
// Function para buscar rubrica 
    
    function buscarRubrica(){
        let busqueda = document.getElementById('buscar').value;
        let filtered = rubricasJs.filter((x)=>{
        if(busqueda==""){
            return true;
            }

        let raw_palabras = x[0]+" "+x[1]+" "+x[2];

        let palabras = raw_palabras.split(" ");
        for(let i=0; i<palabras.length; i++){
            if(palabras[i].toLowerCase()==busqueda.toLowerCase()){
                return true;
            }
        }   
        return false;
        });
        for(i=0;i<rubricasJs.length;i++){
            document.getElementById(rubricasJs[i][0]).style.display='none';

        }
        for(i=0;i<filtered.length;i++){
            document.getElementById(filtered[i][0]).style.display='';
        }
    }

    //prepare document for buscar
    document.getElementById('buscar').addEventListener('keydown',event=>{
        if(event.key=='Enter'){
            buscarRubrica();
        }
    });



//funcion para traer los aspectos de la rubrica a la pagina
    let idRubrica;
    var detalleRubrica;
    var sumaRubrica;
    for(let i=0; i<rubricasJs.length; i++){
        idRubrica=rubricasJs[i][0];
        $('#'+rubricasJs[i][0]).on('click', traerRubrica);
    }
    function traerRubrica(){
        observer.disconnect();
        idRubrica= $(this).attr("id");
        sumaRubrica=0;
        $.ajax({
            data : {'id' : idRubrica},
            url : 'busqueda_rubrica_ajax',
            type : 'get',
            success: function(data){
                detalleRubrica=data;
                let html = "<tbody>";
                let mayorColumna = 0;
            
                
                for(let i=0; i<data.length ; i++){
                    for(let j=0; j<data[i].length;j++){
                        if(j==0){
                            //comparar la maxima columna
                            mayorColumna=Math.max(mayorColumna,data[i].length);
                            html += '<tr "> <th class="w3-red tabla-elemento-rubrica w3-small" style="height: 60px" >' + data[i][j]['nombreFila']
                            + '</th>';
                        }
                        html +='<td id="'+i+'__'+j
                            +'"  class="w3-display-container w3-hover-gray w3-tiny tabla-elemento-rubrica"  > <div {% if user|is_admin %} contenteditable="true" {% endif %}>'
                                +data[i][j]['descripcion'] +'</div><div id="'+i+'__'+j+'-puntaje" style="width: 50px" class="w3-display-topright w3-container w3-green w3-medium" {% if user|is_admin %} contenteditable="true" {% endif %}>'
                                    +data[i][j]['puntaje']+'</div></td>';
                        
                        if(j==(data[i].length-1)){
                            sumaRubrica+=parseFloat(data[i][j]['puntaje']);
                            html +='</tr>';
                        }

                    }
                    
                }
                
                let width=Math.floor(100/(mayorColumna+1));
                html +='</tbody>';
                head = '<thead> <tr> <th class="w3-red tabla-elemento-rubrica" style="width: '+width+'% ; height: 60px"> Niveles </th>' ;
                for(let i=1;i<=mayorColumna;i++){
                    head += '<th style="width: '+width+'%" class="w3-red tabla-elemento-rubrica"> Nivel ' + i +'</th>';
                }
                head += '</tr></thead>'
                html = head + html;
                
                console.log(mayorColumna);
                $('#tabla-rubrica').html(html);
                $('#rubrica-detalle').show();
                $('#puntaje-total').val(sumaRubrica);
                for(let i=0; i<data.length;i++){
                    for(let j=0; j<data[i].length;j++){
                        observer.observe(document.getElementById(i+"__"+j+"-puntaje"),config);
                    }
                }
                window.location.href = '#rubrica-detalle';
            }
        });
        
    }

//observador para los elementos de la tabla

var ultimaMutation;
var lastIdChanged;
// Options for the observer (which mutations to observe)
var config = {subtree: true , characterData: true};

// Callback function to execute when mutations are observed
var callback = function(mutationsList, observer) {
    for(var mutation of mutationsList) {

            if(mutation.target.parentNode!=null){
                let rawData = mutation.target.data;
                let position = mutation.target.parentNode.id.split("__");
                let x = position[0];
                let y = position[1].split("-")[0];
                detalleRubrica[x][y]['puntaje'] = rawData;
                actualizarPuntaje();
            }
            else{
                console.log("hijo eliminado");
            }
    }
};

// Create an observer instance linked to the callback function
var observer = new MutationObserver(callback);


// actualizar puntaje
function actualizarPuntaje(){
    sumaRubrica=0;
    let ultimo;
    for(let i=0;i<detalleRubrica.length;i++){
        ultimo = (detalleRubrica[i].length - 1);        
        sumaRubrica+=parseFloat(detalleRubrica[i][ultimo]['puntaje']);
        }
    console.log(sumaRubrica);
    $('#puntaje-total').val(sumaRubrica);
}

//actualizar Rubricas
// Sending in JSON format using POST method
//
function sendAspectosRubrica(){
    var xhr = new XMLHttpRequest();
    var url = "{% url 'rubricas:update_aspectos_rubrica' %}";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    xhr.send(JSON.stringify(detalleRubrica));
}
</script>

{% endblock %}

