<!--Evaluadores-->
{% extends 'base.html' %}
{% block content %}
    <!-- Titulo -->
    <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Evaluadores</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p class="w3-col"><h3>Seleccione un evaluador</h3>

    <input id='buscar'  type='text' placeholder="Busque algún evaluador">    
    </div>

    <!-- Evaluadores registrados -->
    
    <div class="w3-margin-top w3-container w3-center">
        <table class="w3-table w3-card-4 w3-bordered w3-border-black">
            <thead>
                <tr>
                    <th class="w3-red tabla-elemento w3-center"> ID </th>
                    <th class="w3-red tabla-elemento"> Nombre </th>
                    <th class="w3-red tabla-elemento"> Email </th>
                </tr>
            </thead>
            <script>
                var evaluadoresJs= new Array();
                var evaluadorJs= new Array();
            </script>
            <tbody id='evaluadores'>
            {% for evaluador in evaluadores_list %}
            <tr class='w3-light-gray opcion' id='{{evaluador.get_pk}}'>
                <td class='tabla-elemento w3-center'>{{evaluador.get_pk}} </td>
                <td class='tabla-elemento'>{{evaluador}}</td>
                <td class='tabla-elemento w3-small'> {{ evaluador.get_email }} </td>
                <!-- Javascript scan for evaluadores with format {(name,lastname,email),(name,lastname,email)...}-->
                <script>
                    evaluadorJs=[];
                    evaluadorJs.push('{{evaluador.get_pk}}');
                    evaluadorJs.push('{{evaluador.get_name}}');
                    evaluadorJs.push('{{evaluador.get_lastname}}');
                    evaluadorJs.push('{{evaluador.get_email}}');

                    evaluadoresJs.push(evaluadorJs);
                </script>

            
            </tr>
            {% endfor %}
            </tbody>
           
            
            
            
            
        </table>
    </div>
    
    


    <div class="w3-margin-top w3-container w3-center">
    <button onclick="document.getElementById('agregar').style.display='block'" class="w3-col w3-round w3-button w3-red w3-right">
            <i class="fas fa-user-plus" style="text-align: center"></i>
            Agregar evaluador</button>
    </div>
   
    <!-- Formulario de agregar -->
    <div id="agregar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <form class="w3-container" action="{% url 'evaluadores:add_evaluador' %}" method="post">
                {% csrf_token %}
                <table class="w3-table">
                    {{ addForm.as_table }}
                </table>
            <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
            </form>
      </div>
    </div>
    </div>
    <!-- Cierre de formulario de agregar -->

     <!-- Formulario de modificar o eliminar -->
    <div id="modificar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('modificar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <form class="w3-container" action="{% url 'evaluadores:update_evaluador' %}" method="post">
                {% csrf_token %}
                <table class="w3-table">
                    {{ updateForm.as_table }}
                </table>

            <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
            </form>
      </div>
    </div>
    </div>
    <!-- Cierre de formulario de modificar o eliminar -->

<script>
function buscarEvaluador(){
    let busqueda = document.getElementById('buscar').value;

    let filtered = evaluadoresJs.filter((x)=>{
        if(busqueda==""){
            return true;}
        
        let raw_palabras = x[0]+" "+x[1]+" "+x[2]+" "+x[3];
        
        let palabras = raw_palabras.split(" ");
        for(let i=0; i<palabras.length; i++){
            if(palabras[i].toLowerCase()==busqueda.toLowerCase()){
                return true;
            }

        }
        return false;
        
    });
    for(i=0;i<evaluadoresJs.length;i++){
        document.getElementById(evaluadoresJs[i][0]).style.display='none';
        
    }
    for(i=0;i<filtered.length;i++){
        document.getElementById(filtered[i][0]).style.display='';
    }
}
function showEditar(id){
    console.log(id);
    return ()=>{
    document.getElementById('id_ID').value=id;
    let filtered=evaluadoresJs.filter((x)=>{
        return id==x[0];
    });
    let evaluador=filtered[0];
    document.getElementById('id_nombre').value=evaluador[1];
    document.getElementById('id_apellido').value=evaluador[2];
    document.getElementById('id_correo').value=evaluador[3];
    document.getElementById('modificar').style.display='block';
    };
}

//prepare document for buscar
document.getElementById('buscar').addEventListener('keydown',event=>{
    if(event.key=='Enter'){
        buscarEvaluador();
    }
});

//prepare document for editar evaluador
let idPrepare="";
for(let i=0;i<evaluadoresJs.length; i++){
    idPrepare=evaluadoresJs[i][0];
    document.getElementById(idPrepare).addEventListener("click",showEditar(idPrepare));
}
</script>

{% endblock %}